/* Colors
Magenta: #F709F3
Purple-Dark: 2B0D27
Red: #EA2030
Teal: #5AFDFF
font-family: 'Audiowide', cursive;
*/
body {
    background-image: url('../images/retrowave_80_s_bg_by_rafael_de_jongh-d9wsq5j.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}
.subtitle {
    color: #F709F3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, .5);
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}
.crystal img {
    max-width: 150px;
}
.crystal {
    background-color:transparent;
}
.startGame {
    background-color: rgba(0, 123, 255, .61);
}
.glow {
    -webkit-filter: drop-shadow(0px 0px 15px #7AF1F7);
    filter:         drop-shadow(0px 0px 15px #7AF1F7); 
}

/* * {border: 1px solid red;} */